#welcome {
	background-color: #84c6d4;
	padding: 15px;
	margin-top: 10px;
}

.atas {
	margin-top: 20px;
}

.a {
	margin-bottom: 20px;
}

#logo {
	width: 95%;
	height: 140px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding: 0px 0;
}
.judul {
	padding: 17px;
	color: white;
}
#home {
	padding: 20px 50px;
	background: #fefefe;
}
#footer {
	background-color: #84c6d4;
	padding: 20px 0 10px;
	margin-bottom: 10px;
}
.nav-footer {
text-align: right;
list-style: none;
padding: 0;
}
.navbar {
	margin-bottom: 0px;
}
.nav-footer li {
	display: inline;
}
.nav-footer li a {
	padding: 10px 20px;
	text-decoration: none;
	color: white;
}